body,
html {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0f0f0;
    background-image: none;
    font-family: Arial, Helvetica;
}
form {
    min-width: 960px;
}
.Common {
    margin: 0 auto;
    padding: 0;
}
#CommonHeader {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    height: 115px;
    background-color: #fff;
}
#CommonHeaderTitleArea {
    float: left;
    padding-top: 14px;
    width: 70%;
    overflow: hidden;
}
#CommonHeaderTitleArea img {
    float: left;
}
.CommonHeaderTitle {
    font-size: 325%;
    font-weight: bold;
    color: #000;
    letter-spacing: -2px;
    line-height: 100%;
    margin: 0 0 0 53px;
    padding: 0;
}
.CommonHeaderTitleDescription {
    font-size: 85%;
    padding-left: 2px;
    margin: 0 0 0 53px;
}
#CommonFooter {
    clear: both;
    margin-top: 16px;
    background-color: #f7f7f7;
    border-top: solid 1px #bbb;
    border-bottom: solid 1px #bbb;
}
#CommonFooter .Common {
    padding: 12px 0;
    text-align: center;
    font-size: 85%;
    font-weight: bold;
}
#CommonNavigation {
    clear: both;
    margin: 0;
    width: 100%;
    height: 27px;
    background-color: #95B6C3;
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
    padding: 0;
    font-size: 14px;
}
#CommonNavigation .Common {
    border-left: solid 1px #558B9F;
}
#CommonNavigation .Common .Inner {
    border-left: solid 1px #D5E1E7;
    height: 1%;
}
#CommonNavigationShadow {
    clear: both;
    margin-bottom: 12px;
}
#CommonNavigation ul {
    list-style-type: none;
    padding: 0;
    display: block;
    margin: 0;
}
#CommonNavigation ul li {
    display: block;
    float: left;
    padding: 0;
    border-right: solid 1px #D5E1E7;
    font-weight: bold;
    color: #000;
}
#CommonNavigation a:link,
#CommonNavigation a:active,
#CommonNavigation a:visited {
    color: #191919;
    text-decoration: none;
    display: block;
    padding: 6px 12px;
    border-right: solid 1px #558B9F;
}
#CommonNavigation a:hover {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 6px 12px;
    border-right: solid 1px #558B9F;
}
#CommonNavigation a.Selected:link,
#CommonNavigation a.Selected:active,
#CommonNavigation a.Selected:visited {
    color: #191919;
    background-color: #d6e1e7;
    border-color: #d6e1e7;
    border-bottom-width: 0;
    padding-bottom: 7px;
    margin-bottom: -1px;
}
#CommonNavigation a.Selected:hover {
    color: #191919;
}
#CommonNavigation a.Selected:hover {
    color: #333;
}
#CommonContent {
    margin: 0;
    padding: 0;
    height: 1%;
    /* IE6 hack... it's very minor, though */
    
    overflow: hidden;
}
#CommonContentInner {
    width: 100%;
    overflow: hidden;
}
#CommonSidebarLeft {} #CommonSidebarLeft .CommonSidebar {
    float: left;
    padding-right: 12px;
    overflow: hidden;
    width: 240px;
}
#CommonSidebarRight {} #CommonSidebarRight .CommonSidebar {
    float: right;
    padding-left: 12px;
    overflow: hidden;
    width: 240px;
}
a:link,
a:active {
    color: #36c;
    text-decoration: none;
}
a:visited {
    color: #039;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
select,
textarea,
input,
button {
    font-family: Arial, Helvetica;
    font-size: 90%;
}
table {
    empty-cells: show;
}
hr {
    border-style: dotted;
    border-width: 0 0 1px 0;
    border-color: #ccc;
    background-color: transparent;
    height: 0;
}
.CommonBreadCrumbArea {
    margin: 0;
    padding: 4px 0;
    font-size: 85%;
    color: #000;
    background-color: #f7f7f7;
    border-bottom: solid 1px #bbb;
}
.CommonTitle {
    color: #333;
    font-size: 200%;
    letter-spacing: -1px;
    font-weight: bold;
    padding: 0;
}
.CommonGroupedContentArea {
    padding: 0 0 8px 0;
    margin: 0 0 16px 0;
}
.CommonAvatarListItemsArea {
    margin: 0;
}
.CommonAvatarListItemArea {
    margin: 10px 0;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 10px 10px 10px 70px;
    min-height: 46px;
    background-color: #eee;
}
.CommonAvatarListItemArea.Custom {
    padding-left: 0px;
}
.CustomAvatarListItemCustomAvatar {
    float: left;
    padding-left: 10px;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.CustomAvatarListCustomContent {
    margin-left: 80px;
}
.CommonAvatarListItem {
    font-size: 100%;
}
.CommonAvatarListItemName {
    font-size: 150%;
    font-weight: normal;
    padding: 0;
    margin: 0 0 4px 0;
}
.CommonAvatarListItemDetails {
    margin: 4px 0 0 0;
    color: #000;
    font-size: 80%;
}
UL.CommonAvatarListItemList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.CustomWikiPageDetailsAvatar {
    float: left;
    padding-left: 4px;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.CustomWikiPageDetailsContent {
    margin-left: 60px;
}
.CustomWikiPageDetailsTitle {
    margin-left: 4px;
    margin-bottom: 2px;
    margin-top: 8px;
}
.CustomWikiPageDetailsArea {
    border-bottom: 1px dotted #ddd;
    height: 75px;
}
.CommonPollMoveUpButton:link,
.CommonPollMoveUpButton:visited,
.CommonPollMoveUpButton:active {
    text-decoration: none;
    color: #333;
}
.CommonPollMoveDownButton:link,
.CommonPollMoveDownButton:visited,
.CommonPollMoveDownButton:active {
    text-decoration: none;
    color: #333;
}
.CommonPollDeleteButton:link,
.CommonPollDeleteButton:visited,
.CommonPollDeleteButton:active {
    text-decoration: none;
    color: #333;
}
.CommonContentBox {
    border-top: solid 3px #ccc;
    background-color: #fff;
    padding: 12px;
    margin: 0 0 12px 0;
    height: 1%;
}
.CommonContentBoxHeader {
    padding: 0 0 6px 0;
    border-bottom: solid 1px #ccc;
    margin: 0 0 8px 0;
    line-height: 100%;
    font-size: 120%;
    color: #333;
}
.CommonContentBoxContent {
    padding: 0 3px 15px 3px;
    font-size: 90%;
    overflow: hidden;
}
.CommonHierarchicalList {
    list-style-type: none;
    margin: 1px 0;
    padding: 0;
}
.CommonHierarchicalList li {
    padding: 2px 0;
}
.CommonHierarchicalList a:link,
.CommonHierarchicalList a:visited,
.CommonHierarchicalList a:active,
.CommonHierarchicalList a:hover {
    color: #06c;
}
.CommonHierarchicalList img {
    margin-right: 4px;
}
.CommonHierarchicalList a.Selected {
    background-color: #06c;
    color: #fff;
    font-weight: bold;
    padding: 2px;
}
@media print {
    body,
    html {
        color: #000;
        background-color: #fff;
    }
    a:link,
    a:visited {
        color: #000;
        text-decoration: underline;
    }
    #CommonNavigation,
    #CommonSidebarLeft,
    #CommonSidebarRight,
    .CommonBreadCrumbArea {
        display: none;
    }
    #CommonHeaderTitleArea {
        padding-left: 0;
        background-image: none;
    }
    #CommonContent {
        overflow: visible;
    }
    #CommonContentInner {
        overflow: visible;
    }
    .CommonContentBoxContent {
        overflow: visible;
    }
}
@media screen {
  body,
  html {
      font-family: Tahoma, Arial, Helvetica;
      color: #333333;
      background-color: #F0F0F0;
      background-image: none;
  }
  form {
      min-width: 960px;
  }
  a:link {
      color: #3366CC;
  }
  a:active {
      color: #3366CC;
  }
  a:visited {
      color: #888888;
  }
  select,
  textarea,
  input,
  button {
      font-family: Tahoma, Arial, Helvetica;
  }
  a.NewPageLink {
      color: #FA5454;
  }
  #CommonHeader {
      background-image: none;
      background-color: #FFFFFF;
      height: 70px;
  }
  .CommonHeaderTitle {
      color: #87802A;
      font-family: Tahoma, Arial, Helvetica;
      font-size: 325%;
  }
  #CommonNavigation {
      background-color: #87802A;
  }
  #CommonNavigation .Common .Inner,
  #CommonNavigation ul li {
      border-color: #C7AB4E;
  }
  #CommonNavigation .Common,
  #CommonNavigation a:link,
  #CommonNavigation a:active,
  #CommonNavigation a:visited,
  #CommonNavigation a:link,
  #CommonNavigation a:active,
  #CommonNavigation a:hover {
      border-color: #475506;
  }
  #CommonNavigation a:link,
  #CommonNavigation a:active,
  #CommonNavigation a:visited {
      color: #FFFFFF;
  }
  #CommonNavigation a:hover {
      color: #AEA9A9;
  }
  #CommonNavigation a.Selected:link,
  #CommonNavigation a.Selected:active,
  #CommonNavigation a.Selected:visited {
      color: #FFFFFF;
      background-color: #C8AA4E;
  }
  .CommonBreadCrumbArea {
      background-color: #F7F7F7;
      color: #000000;
  }
  .CommonTitle {
      font-family: Tahoma, Arial, Helvetica;
      color: #333333;
      font-size: 200%;
  }
  .CommonContentBox {
      background-color: #FFFFFF;
      border-top-color: #CCCCCC;
  }
  .CommonContentBox .CommonContentBoxHeader {
      border-bottom-color: #CCCCCC;
      font-family: Tahoma, Arial, Helvetica;
      color: #333333;
  }
  .CommonAvatarListItemArea {
      background-color: #EEEEEE;
  }
  #CommonFooter {
      background-image: url(/images/NHibernate_5F00_logo.jpg);
      background-color: #F7F7F7;
  }
  #CommonSidebarLeft .CommonSidebar,
  #CommonSidebarRight .CommonSidebar {
      width: 200px;
  }
  /* Colors here 
  http://colorschemedesigner.com/#1H11Tm3gXw0w0
  */
  #CommonNavigation {
      height: 2.2em;
      background: #87802A url(/images/header_fade_background.png) repeat-x;
  }
  #CommonHeader {
      padding-bottom: 10px;
  }
  .CommonContentBox,
  CommonContent {
      border-top: none;
      line-height: 1.4em;
  }
  #CommonNavigation a.Selected:link,
  #CommonNavigation a.Selected:active,
  #CommonNavigation a.Selected:visited {
      background-color: white;
      color: #333333;
  }
  a:visited {
      color: #3366CC;
  }
}
@media only screen and (min-width:960px){
  .Common {
    width: 960px;
  }
}
@media only screen and (max-width:768px){
  #CommonSidebarRight .CommonSidebar {
    padding: 0;
    width: initial;
    height: 100px;
    float: none;
  }
  .CommonContentBox {
    height: 100%;
  }
}
@media only screen and (max-width:720px) {
  #CommonNavigation {
    height: initial;
    background-image: none;
  }
  #CommonNavigation ul li {
    float: none;
  }
}