
body, html
{
	color: #000;
	background-color: #fff;
}

A:LINK, A:VISITED
{
    color: #000;
    text-decoration: underline;
}

#CommonNavigation, #CommonSidebarLeft, #CommonSidebarRight,
.CommonBreadCrumbArea
{
	display: none;
}

#CommonHeaderTitleArea
{
	padding-left: 0;
	background-image: none;
}

/* Comment Styles */




#CommonContent 
{
	overflow: visible;
}

#CommonContentInner
{
	overflow: visible;
}

.CommonContentBoxContent
{
    overflow: visible;
}