

/* General Styles */

body, html
{
    font-family: Tahoma, Arial, Helvetica;
    color: #333333;
    background-color: #F0F0F0;
    background-image: none;
}

form
{
    min-width: 960px;
}

A:LINK
{
    color: #3366CC;
}

A:ACTIVE
{
    color: #3366CC;
}

A:VISITED
{
    color: #888888;
}

SELECT, TEXTAREA, INPUT, BUTTON
{
    font-family: Tahoma, Arial, Helvetica;
}

.Common
{
    width: 960px;
}

A.NewPageLink
{
    color: #FA5454;
}

/* Header Styles */

#CommonHeader
{
    background-image: none;
    background-color: #FFFFFF;
    height: 70px;
}

.CommonHeaderTitle
{
    color: #87802A;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 325%;
}

#CommonHeaderUserRoundBottom .r1, #CommonHeaderUserRoundBottom .r2, #CommonHeaderUserRoundBottom .r3, #CommonHeaderUserRoundBottom .r4,
#CommonHeaderUserContent
{
    background-color: #903A36;
}

#CommonHeaderUserContent
{
    color: #974B4B;
}

/* Navigation Styles */

#CommonNavigation
{
    background-color: #87802A;
}

#CommonNavigation .Common .Inner, #CommonNavigation ul li
{
    border-color: #C7AB4E;
}

#CommonNavigation .Common, #CommonNavigation a:link, #CommonNavigation a:active, #CommonNavigation a:visited, #CommonNavigation a:link, #CommonNavigation a:active, #CommonNavigation a:hover
{
    border-color: #475506;
}

#CommonNavigation a:link, #CommonNavigation a:active, #CommonNavigation a:visited
{
    color: #FFFFFF;
}

#CommonNavigation a:hover
{
    color: #AEA9A9;
}

#CommonNavigation a.Selected:link, #CommonNavigation a.Selected:active, #CommonNavigation a.Selected:visited
{
    color: #FFFFFF;
    background-color: #C8AA4E;
}

#CommonNavigation2
{
    background-color: #C8AA4E;
}

#CommonNavigation2 a:link, #CommonNavigation2 a:active, #CommonNavigation2 a:visited
{
    color: #474000;
}

.CommonBreadCrumbArea
{
    background-color: #F7F7F7;
    color: #000000;
}

/* Body Styles */

.CommonTitle
{
    font-family: Tahoma, Arial, Helvetica;
    color: #333333;
    font-size: 200%;
}

#CommonHeaderTitle
{
    font-size: 325%;
}

#CommonHeaderTitle h1, #CommonHeaderTitle h1 A:LINK, #CommonHeaderTitle h1 A:VISITED, #CommonHeaderTitle h1 A:ACTIVE
{
    font-family: Tahoma, Arial, Helvetica;
    color: #87802A;
}

.ForumPostHeader
{
    font-size: 90%;
    color: #000000;
    font-family: Tahoma, Arial, Helvetica;
    background-color: #CCCCCC;
}

.ForumPostHeader, .ForumPostTitleArea, .ForumPostContentArea, .ForumPostUserArea, .ForumPostFooterArea
{
    border-color: #E1E1E1;
}

.ForumPostTitleArea
{
    background-color: #F4F4F4;
}

.ForumPostUserArea
{
    background-color: #F4F4F4;
}

.ForumPostContentArea
{
    color: #000000;
}

A.ForumGroupNameRead, .ForumGroupNameRead:LINK, .ForumGroupNameRead:VISITED, A.ForumNameRead, .ForumNameRead:LINK, .ForumNameRead:VISITED
{
    color: #888888;
}

A.ForumGroupNameUnRead, .ForumGroupNameUnRead:LINK, .ForumGroupNameUnRead:VISITED, A.ForumNameUnRead, .ForumNameUnRead:LINK, .ForumNameUnRead:VISITED
{
    color: #3366CC;
}

/* Content Box */

.CommonContentBox
{
    background-color: #FFFFFF;
    border-top-color: #CCCCCC;
}

.CommonContentBox .CommonContentBoxHeader
{
    border-bottom-color: #CCCCCC;
    font-family: Tahoma, Arial, Helvetica;
    color: #333333;
}

.CommonSearchRoundTop .r1, .CommonSearchRoundTop .r2, .CommonSearchRoundTop .r3, .CommonSearchRoundTop .r4,
.CommonSearchRoundBottom .r1, .CommonSearchRoundBottom .r2, .CommonSearchRoundBottom .r3, .CommonSearchRoundBottom .r4,
.CommonSearchContent
{
	background-color: #F7F7F7;
	border-color: #B4B4B4;
}

.CommonSearchContent input
{
    background-color: #F7F7F7;
}

/* Announcement Content Box */

.CommonContentBox.Highlighted
{
    background-color: #FFFF99;
    border-top-color: #FF9933;
}

.CommonContentBox.Highlighted .CommonContentBoxHeader
{
    border-bottom-color: #FF9933;
    font-family: Tahoma, Arial, Helvetica;
    color: #333333;
}

/* Activity Content Box */

.CommonContentBox.TitleHighlighted
{
    background-color: #FFFFFF;
    border-top-color: #FF0000;
}

.CommonContentBox.TitleHighlighted .CommonContentBoxHeader
{
    border-bottom-color: #FF0000;
    font-family: Tahoma, Arial, Helvetica;
    color: #333333;
}

/* Highlighted Content Box */

.CommonContentBox.Highlighted2
{
    background-color: #EBFFFF;
    border-top-color: #95B6C3;
}

.CommonContentBox.Highlighted2 .CommonContentBoxHeader
{
    border-bottom-color: #95B6C3;
    font-family: Tahoma, Arial, Helvetica;
    color: #333333;
}

/* Message Box */

.CommonCommentBubbleRoundTop .r1, .CommonCommentBubbleRoundTop .r2, .CommonCommentBubbleRoundTop .r3, .CommonCommentBubbleRoundTop .r4,
.CommonCommentBubbleRoundBottom .r1, .CommonCommentBubbleRoundBottom .r2, .CommonCommentBubbleRoundBottom .r3, .CommonCommentBubbleRoundBottom .r4,
.CommonCommentArrow .r1, .CommonCommentArrow .r2, .CommonCommentArrow .r3, .CommonCommentArrow .r4,
.CommonCommentArrow .r5, .CommonCommentArrow .r6, .CommonCommentArrow .r7, .CommonCommentArrow .r8, 
.CommonCommentArrow .r9, .CommonCommentArrow .r10,
.CommonCommentContent
{
    background-color: #CEDEFD;
}

.Owner .CommonCommentBubbleRoundTop .r1, .Owner .CommonCommentBubbleRoundTop .r2, .Owner .CommonCommentBubbleRoundTop .r3, .Owner .CommonCommentBubbleRoundTop .r4,
.Owner .CommonCommentBubbleRoundBottom .r1, .Owner .CommonCommentBubbleRoundBottom .r2, .Owner .CommonCommentBubbleRoundBottom .r3, .Owner .CommonCommentBubbleRoundBottom .r4,
.Owner .CommonCommentArrow .r1, .Owner .CommonCommentArrow .r2, .Owner .CommonCommentArrow .r3, .Owner .CommonCommentArrow .r4,
.Owner .CommonCommentArrow .r5, .Owner .CommonCommentArrow .r6, .Owner .CommonCommentArrow .r7, .Owner .CommonCommentArrow .r8, 
.Owner .CommonCommentArrow .r9, .Owner .CommonCommentArrow .r10,
.Owner .CommonCommentContent
{
    background-color: #DFFFED;

}

/* File Box */

.CommonFileRoundTop .r1, .CommonFileRoundTop .r2, .CommonFileRoundTop .r3, .CommonFileRoundTop .r4,
.CommonFileRoundBottom .r1, .CommonFileRoundBottom .r2, .CommonFileRoundBottom .r3, .CommonFileRoundBottom .r4,
.CommonFileContent
{
    background-color: #ECECEC;
}

.CommonFile
{
    border-color: #CCCCCC;
    background-color: #FFFFFF;
}

/* List Styles */

.CommonListTitle
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 100%;
}

.CommonListTitle, .CommonListTitle a:link, .CommonListTitle a:visited, .CommonListTitle a:active
{
    color: #525252;
}

.CommonListHeader
{
    background-color: #999999;
    color: #FFFFFF;
}

.CommonListRow, .CommonAvatarListItemArea
{
    background-color: #EEEEEE;
}

.CommonListRowAlt td, .CommonAvatarListItemArea.Alt
{
    background-color: #FFFFFF;;
}

/* Footer Styles */

#CommonFooter
{
    background-image: url(../../../cfs-filesystemfile.ashx/__key/CommunityServer.Components.SiteFiles/logos/NHibernate_5F00_logo.jpg);
    background-color: #F7F7F7;
}

/* Sidebar Styles */

#CommonSidebarLeft .CommonSidebar, #CommonSidebarRight .CommonSidebar
{
    width: 200px;
}

/* Modal Styles */

.CommonModal, .CommonModalTitle
{
    border-color: #333333;
}

.CommonModalTitle
{
    color: #333333;
    font-family: Arial, Helvetica;
}

/* Colors here 
http://colorschemedesigner.com/#1H11Tm3gXw0w0
*/


#CommonNavigation
{
height: 2.2em;
background: #87802A url(../../../cfs-filesystemfile.ashx/__key/CommunityServer.Components.SiteFiles/site_5F00_images/header_5F00_fade_5F00_background.png) repeat-x;
}

#CommonHeader
{
padding-bottom: 10px;
}

#Common
{
 background-color: white;
}

body &gt; form &gt; .Common
{
background-color: white;
}

#CommonSearch
{
padding: 15px;
}



#CommonTitle .CommonTitle, .CommonContentArea &gt; .CommonTitle
{
padding: 15px;
}

#CommonTitle, .CommonContentArea &gt; .CommonTitle
{
background: white url(../../../cfs-filesystemfile.ashx/__key/CommunityServer.Components.SiteFiles/site_5F00_images/common_5F00_title_5F00_fade.png) repeat-x  scroll right bottom;
}
.CommonContentBox.Highlighted2
{
border-top: none; /*3px solid #CCCCCC;*/
background-color: white;
}

#CommonTitle .CommonDescription
{
  padding: 0px 15px 15px 15px;
  width: 684px;
}

.CommonContentBox, CommonContent
{
 border-top: none;
 line-height: 1.4em;
}

.CommonContent
{
margin:0 0 12px;
padding:12px;
font-size: 90%;
line-height: 1.6em;
}


#CommonHeaderUserContent, #CommonHeaderUserContent, #CommonHeaderUserContent a, #CommonHeaderUserArea a:link, #CommonHeaderUserArea a:visited , #CommonHeaderUserArea a:hover,
#CommonHeaderUserWelcome .sub a:hover
{
/* background: #87802A url(http://nhforge.org/cfs-filesystemfile.ashx/__key/CommunityServer.Components.SiteFiles/site_5F00_images/header_5F00_fade_5F00_background.png) repeat-x; */
background-color: white;
color: #333333;
}
#CommonNavigation a.Selected:link, 
#CommonNavigation a.Selected:active, 
#CommonNavigation a.Selected:visited {
background-color:white;
color:#333333;
}


#CommonNavigation2, #CommonNavigation2 a:link, #CommonNavigation2 a:active, #CommonNavigation2 a:visited
{
  background-color: #CCCCCC;
  color: #333333;
}

a:visited{
color: #3366CC;
}
