---
layout: default
---
<div class="CommonAvatarListItemsArea">
	<ul class="CommonAvatarListItemList">
		{% for post in site.posts %}
		<li class="CommonAvatarListItemArea Custom">
			<div class="CustomAvatarListItemCustomAvatar">
				{% if post.gravatar %}
				<img src="http://www.gravatar.com/avatar/{{post.gravatar}}.png" alt="" style="border-width:0px;max-height:60px;max-width:60px;">
				{% endif %}
			</div>

			<div class="CustomAvatarListCustomContent">
				<h4 class="CommonAvatarListItemName">
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h4>
				<div class="CommonAvatarListItem"><!--{{}}--></div>
				<div class="CommonAvatarListItemDetails">
					<div>
						Published <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%a, %d %B %Y %r" }}</a>
						by {{ post.author }}
					</div>
					<div>
						<span>Filed under: {{ post.tags | join ', '}}
					</div>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>