<div id="CommonHeader">
  <div class="Common">
    <div id="CommonHeaderTitleArea">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr valign="middle">
          <td>
            <div style="margin-right: 10px;"><img src="/images/LogoNH.gif" alt="" style="border-width:0px;" /></div>
          </td>
          <td>
            <div class="CommonHeaderTitle">NHibernate Forge</div>
            <div class="CommonHeaderTitleDescription">The official new home for the NHibernate for .NET community</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div> 
<div id="CommonNavigation">
  <div class="Common">
    <div class="Inner">
      <ul>
        <li><a {% if page.url == '/index.html' %} class="Selected" {% endif %} href="/">Home</a></li>
        <li><a {% if page.url == '/blog.html' %} class="Selected" {% endif %} href="/blog.html">Blog</a></li>
        <li><a href="https://github.com/nhibernate/nhibernate.github.io/wiki">Wikis</a></li>
        <li><a {% if page.url == '/groups.html' %} class="Selected" {% endif %} href="/groups.html">Groups</a></li>
        <li><a {% if page.url == 'doc/index.html' %} class="Selected" {% endif %} href="/doc/index.html">Documentation</a></li>
        <li><a href="http://nhibernate.jira.com/">Issue tracker</a></li>
        <li><a href="https://github.com/nhibernate/nhibernate-core">Source Code</a></li>
      </ul>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>

