<div id="CommonHeader">
  <div class="Common">
    <div id="CommonHeaderTitleArea">
      <img src="/images/LogoNH.gif" alt="Logo" />
      <h1 class="CommonHeaderTitle">NHibernate</h1>
      <div class="CommonHeaderTitleDescription">The object-relational mapper for .NET</div>
    </div>
  </div>
</div> 
<div id="CommonNavigation">
  <div class="Common">
    <div class="Inner">
      <ul>
        <li><a {% if page.url == '/index.html' %} class="Selected" {% endif %} href="/">Home</a></li>
        <li><a {% if page.url == '/blog/index.html' %} class="Selected" {% endif %} href="/blog/">Blog</a></li>
        <li><a href="https://github.com/nhibernate/nhibernate.github.io/wiki">Wikis <i class="fa fa-external-link"></i></a></li>
        <li><a {% if page.url == '/groups.html' %} class="Selected" {% endif %} href="/groups.html">Groups</a></li>
        <li><a {% if page.url == '/doc/index.html' %} class="Selected" {% endif %} href="/doc/index.html">Documentation</a></li>
        <li><a href="http://nhibernate.jira.com/">Issue tracker <i class="fa fa-external-link"></i></a></li>
        <li><a href="https://github.com/nhibernate/nhibernate-core">Source Code <i class="fa fa-external-link"></i></a></li>
      </ul>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>

