---
layout: default
title: Blog
---
<div>
	<a href="https://github.com/nhibernate/nhibernate.github.io/new/master/_posts"><i class="fa fa-edit"></i> New post</a>
</div>
<div class="CommonAvatarListItemsArea">
	<ul class="CommonAvatarListItemList">
		{% for post in paginator.posts %}
		<li class="CommonAvatarListItemArea Custom">
			<div class="CustomAvatarListItemCustomAvatar">
				{% if post.gravatar %}
				<img src="http://www.gravatar.com/avatar/{{post.gravatar}}.png?s=60" alt="" class="gravatar">
				{% endif %}
			</div>

			<div class="CustomAvatarListCustomContent">
				<h4 class="CommonAvatarListItemName">
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h4>
				<div class="CommonAvatarListItem"><!--{{}}--></div>
				<div class="CommonAvatarListItemDetails">
					<div>
						Posted <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%a, %d %B %Y %r" }}</a>
						by {{ post.author }}
					</div>
					<div>
						<span>Filed under: {{ post.tags | join ', '}}
					</div>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
<div>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>
