<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div class="Common">
		<div id="CommonTitle">
			<h1 class="CommonTitle">
				{{ page.title }}
			</h1>
		</div>
		<div style="clear: both;"></div>
		<div id="CommonSidebarRight">
			<div class="CommonSidebar">
				<div class="CommonContentBox">
					{% include google_adsense.html %}
				</div>
			</div>  
		</div>
		<div id="CommonSidebarLeft">
		</div>
		<div id="CommonContent">
			<div id="CommonContentInner">   
				<div class="CommonContentBox">
					<div class="CommonContentBoxContent">

						{{ content }}

					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>

	{% include footer.html %}

</body>

</html>
