<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div class="Common">
		<div id="CommonTitle">
			<h1 class="CommonTitle">
				{{ page.title }}
			</h1>
		</div>
		<div style="clear: both;"></div>
		<div id="CommonSidebarRight">
			<div class="CommonSidebar">
			<!--
				<div class="CommonContentBox Highlighted2">
					<h4 class="CommonContentBoxHeader">Blogs</h4>
					<div class="CommonContentBoxContent">
						<ul class="CommonContentBoxList">
							<li><a href="blogs/nhibernate/archive/2009/04/15/nhibernate-mapping-concurrency.html#1019">re: NHibernate Mapping - Concurrency</a></li>          
							<li><a href="blogs/nhibernate/archive/2009/04/15/nhibernate-mapping-concurrency.html#1018">re: NHibernate Mapping - Concurrency</a></li>          
							<li><a title="re: Effective NHibernate Session management for web apps" href="blogs/nhibernate/archive/2011/03/03/effective-nhibernate-session-management-for-web-apps.html#1017">re: Effective NHibernate Session management for web...</a></li>         
							<li><a href="blogs/nhibernate/archive/2010/06/30/nhibernate-and-composite-keys.html#1016">re: NHibernate and Composite Keys</a></li>          
							<li><a title="re: Linq to NHibernate Progress Report - A Christmas Gift?" href="blogs/nhibernate/archive/2009/12/17/linq-to-nhibernate-progress-report-a-christmas-gift.html#1013">re: Linq to NHibernate Progress Report - A Christmas...</a></li>         
						</ul>
					</div>
					<div class="CommonContentBoxFooter">
						<a href="blogs/index.html">View all blog posts</a>
					</div>
				</div>
				<div class="CommonContentBox Highlighted2">
					<h4 class="CommonContentBoxHeader">Media</h4>
					<div class="CommonContentBoxContent">
						<ul class="CommonContentBoxList">
							<li><a href="media/p/720.html">NHibernate.Spatial 2.1.2.GA Binaries</a></li>
							<li><a href="media/p/719.html">NHibernate.Spatial 2.1.2.GA Source</a></li>
							<li><a href="media/p/700.html">NHibernate Contrib older builds and source code</a></li>
							<li><a href="media/p/699.html">S#arp Architecture</a></li>
							<li><a href="media/p/698.html">Castle ActiveRecord for NHibernate 2.1.2</a></li>
						</ul>
					</div>
					<div class="CommonContentBoxFooter">
						<a href="media/index.html">View all media</a>
					</div>
				</div>
				<div class="CommonContentBox Highlighted2">
					<h4 class="CommonContentBoxHeader">Wikis</h4>
					<div class="CommonContentBoxContent">
						<ul class="CommonContentBoxList">
							<li><a href="wikis/howtonh/changing-values-in-nhibernate-events.html">Changing Values in NHibernate Events</a></li>

							<li><a href="wikis/reference2-0en/nhibernate-documentation-structure-proposal.html">NHibernate Documentation Structure Proposal</a></li>

							<li><a href="wikis/howtonh/wcf-nhibernate-entity-serialization.html">WCF + NHibernate: Entity Serialization</a></li>

							<li><a href="wikis/howtonh/mapping-tables.html">Mapping tables</a></li>

							<li><a href="wikis/howtonh/creating-a-custom-id-generator-for-nhibernate.html">Creating a custom id generator for nHibernate</a></li>
						</ul>
					</div>
					<div class="CommonContentBoxFooter">
						<a href="wikis/index.html">View all wiki pages</a>
					</div>
				</div>
			-->
				<div class="CommonContentBox">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-9421906186298688"
     data-ad-slot="6531888459"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
				</div>
			</div>  
		</div>
		<div id="CommonSidebarLeft">
		</div>
		<div id="CommonContent">
			<div id="CommonContentInner">   
				<div class="CommonContentBox">
					<div class="CommonContentBoxContent">

						{{ content }}

					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>

	{% include footer.html %}

</body>

</html>
